.edit-component{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    z-index: 100;
    width: 30%;
    height:600px;
	.close{
		background: #20a0ff;
		color: #FFFFFF;
		text-align: center;
		padding: 7px 0;
		.btn:hover{
			cursor: pointer;
			background: #FF4949;
		}
	}
	form{
		margin-right: 10px;
		border: 2px solid #ccc;
		border-top: 0;
		margin-right: 0;
		padding: 10px 20px 10px 0 ;
		background: #fff;
	}
	.btn{
		display: flex;
		justify-content: center;

	}
}
