table{
	font-size:12px;
}
table thead th .cell{
	text-align:center;
}
.el-input-group{
	width:50%;
}
.el-form-item__content{
	display:flex;justify-content:space-around;
}
.el-form-item{
	margin-top:22px;
}

.changePage{
	display:flex;justify-content:center;margin:22px 0;
}
.scan{
	width:50px;
}