.addproduct{
	h1{
		margin:20px 0;
	}
	width:50%;
	margin:0 auto;
	.input__input{
		width:50%;
	}
	label{
		width:150px;
	}
	.select{
		width:600px;
	}
}
.content_right{
	background:rgba(254,254,254,0.5)
}