.addUser{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: row;

	.userList{
		width:75%;
		height:100%;
		box-sizing:border-box;
		span{
			display: inline-block;
			height: 100%;
			margin:0 10px;
			.icon{color: #6a6a6a;font-size: 18px}
			.icon:hover{cursor:pointer;}
		}
	}
	.add{
		flex:1;
		padding:30px 10px;
		box-sizing:border-box;
		border-left:2px solid #ddd;
		height:100%;
		.el-form-item__label{width: 80px!important;}
		.name{width: 90%}
	}
}