.post_login{
	width:30%;

	text-align: left;
	margin: 5% auto;
	label{
		margin-bottom: 10px;
		display: block;
	}
	.el-input{
		margin-top: 10px;
	}
	.el-button{
		margin-left:40%;
	}
}
h2{margin-bottom:20px; padding: 0; text-align: center}